@model List<string>

@foreach (var item in Model) 
{
    <li id="id_@Model.IndexOf(item)" class="list-group-item">
        @*<a href="/Home/VeriSil/@Model.IndexOf(item)" class="btn btn-danger">Sil</a>*@
        @Ajax.ActionLink("Sil", "VeriSil", new { id = Model.IndexOf(item) }, new AjaxOptions {LoadingElementId="loading",LoadingElementDuration=300,HttpMethod="GET",
       InsertionMode=InsertionMode.ReplaceWith,UpdateTargetId="id_"+Model.IndexOf(item) }, new { @class = "btn btn-danger btn-xs" })





        @item




    </li>




}
